<div class="container container-fluid">
	<div class="row">
		<form>
			<div class="col-md-4">
				<div class="form-group">
					<h3>General data</h3>
					<div class="text-center"  flow-init="{target: 'http://api.angular.com:8080/api/upload'}"
							 flow-files-submitted="$flow.upload();"
							 flow-file-success="fileUploaded($message)">
						<div>							
							<span ng-if="tornament.photo">
								<img width="100" height="100" ng-src="/images/{{tornament.photo}}" class="img-circle" />
							</span>
							<span ng-if="!tornament.photo">
								<span class="fa fa-trophy" style="font-size: 100px;"></span>
							</span>
						</div>
						<div>

 						    <label for="fusk" class="btn btn-success">Change image</label>
						    <input type="file" id="fusk" flow-btn style="display: none;" on name="displayImage"/>

							<a class="btn btn-warning"  ng-click="tornament.photo = ''">Clear image</a>	

						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="title">Title</label>
					<input class="form-control" id="title" placeholder="Enter title" ng-model="tornament.title">
					<label for="description">Description</label>
					<input class="form-control" id="description" placeholder="Enter description" ng-model="tornament.description">
					<label for="type">Type</label>
					<select class="form-control" id="type" ng-model="tornament.type" ng-options="type.id as type.type for type in types"></select>
					<label for="startDate">Start date</label>
					<input type="text" class="form-control" datepicker-popup="dd MMM yyyy HH:mm" ng-model="tornament.startDate" is-open="startOpened" ng-click="startOpened = true" close-text="Close" />
					<label for="registrationTillDate">Registration till date</label>
					<input type="text" class="form-control" datepicker-popup="dd MMM yyyy  HH:mm" ng-model="tornament.registrationTillDate" is-open="registrationTillOpened" ng-click="registrationTillOpened = true" close-text="Close" />
					<label for="inscriptionDate">Inscription date</label>
					<input type="text" class="form-control" datepicker-popup="dd MMM yyyy  HH:mm" ng-model="tornament.inscriptionDate" is-open="inscriptionOpened" ng-click="inscriptionOpened = true" close-text="Close" />
					<label for="price">Price</label>
					<input class="form-control" id="price" placeholder="Enter price" ng-model="tornament.price">
					<label for="currency">Currency</label>
					<input class="form-control" id="currency" placeholder="Enter currency" ng-model="tornament.currency">
					<label for="prize">Prize</label>
					<input class="form-control" id="prize" placeholder="Enter prize" ng-model="tornament.prize">
				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span ng-if="tornament._id != new">
			<button ng-click="tornamentDelete()" class="btn btn-danger">Delete</button>
			<a href="#/tornament/{{tornament._id}}" class="btn btn-default">Cancel</a>
			</span>
			<a href="#/tornament" class="btn btn-default">Back</a>
			<button ng-click="tornamentSave()" class="btn btn-success">Save</button>
		</div>
	</div>
	
	<span ng-if="tornament._id != new">
		<div class="row">
		    <h3>Tornament results: <a class="btn btn-success" ng-click="isResultsCollapsed = !isResultsCollapsed; uploadUsers();"><span ng-if="isResultsCollapsed">Hide</span><span ng-if="!isResultsCollapsed">Show</span></a></h3>
			<div class="col-md-2" collapse="!isResultsCollapsed">
				<label for="searchText">Select user to add:</label>
				<angucomplete-alt id="ex1"
					  placeholder="Add user"
					  pause="100"
					  selected-object="preAddUserMethod"
					  local-data="users"
					  search-fields="firstName"
					  title-field="firstName"
					  minlength="1"
					  input-class="form-control form-control-small"/>
			</div>
			<div class="col-md-2" collapse="!isResultsCollapsed">
				<label for="searchText">Filter:</label>
				<input placeholder="Filter" id="searchText" class="form-control" ng-model="searchText">
			</div>
		</div>
		<h3 ng-if="tornamentResult.users">Team</h3>
		<ul class="list-group">
		    <li class="list-group-item" ng-repeat="tornamentResultUser2 in tornamentResult.users">
		        {{tornamentResultUser2.firstName}} {{tornamentResultUser2.lastName}}<br/>
		    </li>
		</ul>
		<div class="row" collapse="!isResultsCollapsed" ng-if="tornamentResult.users">
		    <div class="col-md-4">
		            <label for="score">Score</label>
					<input class="form-control" id="score" placeholder="Enter score" ng-model="tornamentResult.score">
					<label for="prize">Prize</label>
					<input class="form-control" id="prize" placeholder="Enter prize" ng-model="tornamentResult.prize">
		    </div>
	    </div>
		<div class="row" ng-if="tornamentResult.users">
		    <div class="col-md-4" collapse="!isResultsCollapsed">
		        
		        <button ng-click="clearResult()" class="btn btn-default">Cancel</button>    
		        <button ng-click="addResult()" class="btn btn-success">Save</button>    
		        
		    </div>
		</div>
		<div class="row">
		    <div class="col-md-6">
    		    <table class="table">
    			    <thead>
    				    <tr>
    				        <td>Team name</td>
    				        <td>Members</td>
    				        <td>Score</td>
    				        <td>Prize</td>
    				    </tr>
    			    </thead>
    			    <tbody ng-repeat="tornamentResult in tornamentResults">
        			    <tr>
                            <td>{{tornamentResult.teamName}}</td>
                            <td class="container container-fluid">
                                <div class="row" ng-repeat="user in tornamentResult.users">
                                    <div class="col-md-8">
                                        {{user.firstName}} {{user.lastName}}
                                    </div>
                                </div>
                            </td>
                            <td>{{tornamentResult.score}}</td>
                            <td>{{tornamentResult.prize}}</td>
                        </tr>
				    </tbody>
				</table>
			</div>
	    </div>

	</span>
	
</div>
